<h1>words Index</h1>

<% @unknownWords.each do |word| %>
    <div class="col-md-4">
      <div class="flip">
        <div class="cardtest">
          <div class="face front">
            <div class="well well-sm inner"><%= word.value %> | <%= word.language.name %></div>
          </div>
          <div class="face back">
            <div class="well well-sm inner">
                <% word.translations.each do |translation| %>

                <%= translation.value %> | <%= translation.language.name %>

                <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
