<h1>Texts Index</h1>



<div class="list-group">
  <div class="list-group-item active">
    Texts
  </div>
<% @texts.each do |text| %>
      <%= link_to text.title, new_text_word_path(text.id), class: "list-group-item" %>
<% end %>
</div>
<%= link_to "[New Text]", new_text_path %>
